<h2>Search Book</h2>
<form action="/books" method="GET">
    <div>
        <label>Title</label>
        <input type="text" name="title" value="<%= searchOption.title%>">
    </div>
    <button type="submit">submit</button>
</form>
<div>
    <% book.forEach(books =>{%>
    <img height="150" width="100" src="<%= books.coverImagePath%>">
    <p><%= books.title %></p>
    <% })%>
</div>