<header>
    <nav>
        <a href="/">Mylibrary</a>
        <ul>
            <li><a href='/authors'>Author Page</a></li>
            <li><a href='/authors/new'>Author New Page</a></li>
            <li><a href='/books'>Book Pages</a></li>
            <li><a href='/books/new'>Create new Books</a></li>
        </ul>
    </nav>
</header>